<!DOCTYPE HTML>
<html>
<head th:replace="fragments :: head-element"></head> 
<body>
<div class="page-container">
	<div class="left-content">
		<div class="mother-grid-inner">
			
			<div th:replace="fragments :: header-main"></div>
			
			<ol class="breadcrumb">
            	<li class="breadcrumb-item"><a th:href="@{/admin/home}">Home</a> <i class="fa fa-angle-right"></i> App Settings</li>
        	</ol>
        
	        <div class="grid-form1">
	            <h3>App Settings</h3>
	            <div class="tab-content tab-pane active" id="horizontal-form">
	                
	                <form class="form-horizontal" th:action="@{/admin/app-settings}" method="post">
	                	<div class="form-group">
							<label class="col-sm-4 control-label">Doc-App Name :</label> 
							<div class="col-sm-6">
								<input type="text" class="form-control1" id="doc-app-name" name="doc-app-name" th:value="${appName}"/>
							</div>
							
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">CopyRight :</label>
							<div class="col-sm-6">
								<input type="text" class="form-control1" id="copy-right" name="copy-right" th:value="${copyRight}"/>
							</div> 
							 
							
						</div>
						<div class="row col-sm-offset-4">
							<button type="button" onclick="validateAndSave()" class="btn btn-primary col-sm-2">Save</button>
							<a th:href="@{/admin/home}"><button type="button" class="btn btn-default col-sm-2">Cancel</button></a>
						</div>
	                </form>              
	                
	            </div>
         	</div>
         	
         	<script type="text/javascript">
				function validateAndSave(){
					var  docName = document.getElementById("doc-app-name").value;
					var  copyRight = document.getElementById("copy-right").value;
					var regExp = /[a-zA-Z]/;
					
					if(docName == null || docName == ''){
						bootbox.alert("Application Name cannot be empty!!!");
						return false;
					} else if(!regExp.test(docName)){
						bootbox.alert("Please enter a valid App Name!!! Try removing empty spaces!!!");
						return false;
					}
					
					if(copyRight == null || copyRight == ''){
						bootbox.alert("Copy Right shouldn't be empty! Atleast enter a line!");
						return false;
					} else if(!regExp.test(copyRight)){
						bootbox.alert("Please remove unnecessary white spaces and try again!!!");
						return false;
					}
					
					document.forms[0].action='/docs-app/admin/app-settings';
					document.forms[0].submit();
				}
			</script>

			<div th:replace="fragments :: footer"></div>	

		</div>
	</div>
	<div th:replace="fragments :: side-menu"></div>
	<div class="clearfix"></div>		
</div>

</body>
</html>