<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>App Settings</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script	th:src="@{/js/jquery-2.2.0.min.js}"></script>
<script	th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootbox.min.js}"></script>

    <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
  
  <link rel="shortcut icon" th:href="@{/img/favicon.png}">

  <link rel="stylesheet" th:href="@{/css/theme.css}" type="text/css" />
</head>
<body>
	<div id="wrapper">
         <div class="navbar navbar-inverse">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/admin/home}" th:text="${appName}">Docs App</a>
                </div>
                <a th:href="@{/logout}"><button style="float: right;" class="btn-danger btn-lg" type="button">LogOut</button></a>
                <div class="navbar-brand" sec:authorize="isAuthenticated()" style="float: right;">		
		            <span>Logged-in User: </span>
		            <span sec:authentication="name"></span> |					
		            Role: <span sec:authentication="principal.authorities"></span>				
       		 	</div>
       		 	
            </div>
        </div>
        <!-- /. NAV TOP  -->

        <div id="page-wrapper" >
            <div id="page-inner" >
            
                <h2>App Settings </h2>
                <div class="form">
				<form autocomplete="off" th:action="@{/admin/app-settings}" method="post" >
					
					<div >
						<b>Doc-App Name :</b> <input type="text" class="form-control" id="doc-app-name" name="doc-app-name" th:value="${appName}"/>
					</div>
					<div >
						<b>CopyRight :</b> <input type="text" class="form-control" id="copy-right" name="copy-right" th:value="${copyRight}"/> 
						
					</div>
					<!-- <div>
						Icon : <input type="file" class="form-control" id="favicon" name="favicon" placeholder="Select icon" />
					</div> -->
					<div >
						<button type="button" onclick="validateAndSave()" class="btn btn-primary btn-block">Save</button><br>
						<a th:href="@{/admin/home}"><button type="button" class="btn btn-danger btn-block">Cancel</button></a>
					</div>
				</form>
			</div>
            </div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
    <div class="footer" style="position: absolute;bottom: 0;">
      
    
            <div class="row">
                <div class="col-lg-12 alert" >
                    <p th:utext="${copyRight}"> &copy; 2017 - Docs App.</p>
                </div>
            </div>
    </div>
<script type="text/javascript">
	function validateAndSave(){
		var  docName = document.getElementById("doc-app-name").value;
		var  copyRight = document.getElementById("copy-right").value;
		var regExp = /[a-zA-Z]/;
		
		if(docName == null || docName == ''){
			bootbox.alert("Application Name cannot be empty!!!");
			return false;
		} else if(!regExp.test(docName)){
			bootbox.alert("Please enter a valid App Name!!! Try removing empty spaces!!!");
			return false;
		}
		
		if(copyRight == null || copyRight == ''){
			bootbox.alert("Copy Right shouldn't be empty! Atleast enter a line!");
			return false;
		} else if(!regExp.test(copyRight)){
			bootbox.alert("Please remove unnecessary white spaces and try again!!!");
			return false;
		}
		
		document.forms[0].action='/docs-app/admin/app-settings';
		document.forms[0].submit();
	}
</script>
</body>
</html>