<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<title>Change Password</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script	th:src="@{/js/jquery-2.2.0.min.js}"></script>
<script	th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootbox.min.js}"></script>

    <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
  
  <link rel="shortcut icon" th:href="@{/img/favicon.ico}">

  <link rel="stylesheet" th:href="@{/css/theme.css}" type="text/css" />
</head>

<body>
    <div id="wrapper">
         <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/admin/home}">Docs App</a>
                </div>
                <button style="float: right;" class="btn-danger btn-lg" type="button" onclick="javascript:location.href='/docs-app/logout';">LogOut</button>
                <div class="navbar-brand" sec:authorize="isAuthenticated()" style="float: right;">		
		            <span>Logged-in User: </span>
		            <span sec:authentication="name"></span> |					
		            Role: <span sec:authentication="principal.authorities"></span>				
       		 	</div>
       		 	
            </div>
        </div>
        <!-- /. NAV TOP  -->

        <div id="page-wrapper" >
            <div id="page-inner" class="form">
                <div class="row" style="padding-top: 75px;">
                    <div class="col-lg-12">
                    </div>
                </div>
                <form>
                	<div class="alert alert-danger" th:if="${(param.successMessage != null)}">
						<span th:text="${param.successMessage[0]}"></span>
                    </div>
                	Current Password : <input type="password" id="currentPassword" name="currentPassword" />
                	New Password : <input type="password" id="newPassword" name="newPassword" />
                	Re-Enter New Password : <input type="password" id="reEnterPassword" name="reEnterPassword"/>
                	<button type="button" class="btn-primary" onclick="validateChangePassword()">Change Password</button>
                </form>              
                
            </div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
    <div class="footer" style="position: absolute;bottom: 0;">
      
    
            <div class="row">
                <div class="col-lg-12 alert" >
                    &copy; 2017 - Docs App.
                </div>
            </div>
    </div>
<script type="text/javascript">

function validateChangePassword(){
	var currentPassword = document.getElementById('currentPassword').value;
	var newPassword = document.getElementById('newPassword').value;
	var reEnterPassword = document.getElementById('reEnterPassword').value;
	var regExp = /[a-zA-Z0-9]/;
	
	if((currentPassword == null || currentPassword == '') || (newPassword == null || newPassword == '')){
		bootbox.alert("Empty password fields are not allowed!!!");
		return false;
	} else if(!regExp.test(currentPassword) || !regExp.test(newPassword)){
		bootbox.alert("Please enter a valid Password!!! Special characters and spaces are not allowed!!!");
		return false;
	}
	/* 
	if(newPassword == null || newPassword == ''){
		bootbox.alert("Empty password fields are not allowed!!!");
		return false;
	} else if(!regExp.test(newPassword)){
		bootbox.alert("Please enter a valid Password!!!");
		return false;
	} */
	
	if(newPassword != reEnterPassword){
		bootbox.alert("New Password and Re-enter password don't match!!!");
		return false;
	}
	
	document.forms[0].action='/docs-app/admin/change-password';
	document.forms[0].method="POST";
	document.forms[0].submit();
}
</script>
	

</body>
</html>