<!DOCTYPE HTML>
<html>
<head th:replace="fragments :: head-element"></head> 
<body>
<div class="page-container">
	<div class="left-content">
		<div class="mother-grid-inner">
			
			<div th:replace="fragments :: header-main"></div>
			
			<ol class="breadcrumb">
            	<li class="breadcrumb-item"><a th:href="@{/admin/home}">Home</a> <i class="fa fa-angle-right"></i> Change Password</li>
        	</ol>
        
	        <div class="grid-form1">
	            <h3>Change Password</h3>
	            <div class="tab-content tab-pane active" id="horizontal-form">
	                
	                <form class="form-horizontal">
	                	<div class="alert alert-danger" th:if="${(param.successMessage != null)}">
							<span th:text="${param.successMessage[0]}"></span>
	                    </div>
	                    <div class="form-group">
							<label class="col-sm-4 control-label">Current Password :</label>
							<div class="col-sm-6">
								<input type="password" id="currentPassword" name="currentPassword" class="form-control1">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">New Password :</label>
							<div class="col-sm-6">
								<input type="password" id="newPassword" name="newPassword" class="form-control1">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Re-Enter New Password :</label>
							<div class="col-sm-6">
								<input type="password" id="reEnterPassword" name="reEnterPassword" class="form-control1">
							</div>
						</div>
						<div class="row">
							<div class="col-sm-8 col-sm-offset-4">
								<button type="button" class="btn-primary btn" onclick="validateChangePassword()">Change Password</button>
								<a th:href="@{/admin/home}"><button type="button" class="btn-default btn">Cancel</button></a>
							</div>
						</div>
	                </form>              
	                
	            </div>
         	</div>
         	
         	<script type="text/javascript">

				function validateChangePassword(){
					var currentPassword = document.getElementById('currentPassword').value;
					var newPassword = document.getElementById('newPassword').value;
					var reEnterPassword = document.getElementById('reEnterPassword').value;
					var regExp = /[a-zA-Z0-9]/;
					
					if((currentPassword == null || currentPassword == '') || (newPassword == null || newPassword == '')){
						bootbox.alert("Empty password fields are not allowed!!!");
						return false;
					} else if(!regExp.test(currentPassword) || !regExp.test(newPassword)){
						bootbox.alert("Please enter a valid Password!!! Special characters and spaces are not allowed!!!");
						return false;
					}
					/* 
					if(newPassword == null || newPassword == ''){
						bootbox.alert("Empty password fields are not allowed!!!");
						return false;
					} else if(!regExp.test(newPassword)){
						bootbox.alert("Please enter a valid Password!!!");
						return false;
					} */
					
					if(newPassword != reEnterPassword){
						bootbox.alert("New Password and Re-enter password don't match!!!");
						return false;
					}
					
					document.forms[0].action='/docs-app/admin/change-password';
					document.forms[0].method="POST";
					document.forms[0].submit();
				}
			</script>

			<div th:replace="fragments :: footer"></div>	

		</div>
	</div>
	<div th:replace="fragments :: side-menu"></div>
	<div class="clearfix"></div>		
</div>

</body>
</html>