<!DOCTYPE html>
<html>
<head>
<title>Add New Doc</title>
	<!-- <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"> -->
	<script	th:src="@{/js/jquery-2.2.0.min.js}"></script>
	<script	th:src="@{/js/bootstrap.min.js}"></script>
  	<script th:src="@{/js/bootbox.min.js}"></script>
  	<script th:src="@{/js/marked.js}"></script>
  	<link rel="shortcut icon" th:href="@{/img/favicon.ico}">

  	<!-- <link rel="stylesheet" href="../css/theme.css" type="text/css" /> -->
  	<link rel="stylesheet" th:href="@{/css/dilinger.css}" type="text/css" />
</head>
<body>
	<div class="page">
		<div class="navbar" >
			<h3 style="padding: 0px 0px 0px 0px;" class="navbar-brand"><a class="brand" th:href="@{/admin/home}" th:text="${appName}">Docs App</a></h3>
            <div class="nav nav-right" sec:authorize="isAuthenticated()" style="font-family: lato;font-size: large;color: white;">	
	          <span>Logged-in User: </span>
	          <span sec:authentication="name"></span> |					
	          Role: <span sec:authentication="principal.authorities"></span>	
	          <a th:href="@{/logout}"><button class="btn-danger btn-lg" type="button">LogOut</button></a>			
   		 	</div>
		</div>
		<div class="overlay"></div>
		<h3>Add New Document</h3>
		<form method="post">
			
			<input type="text" name="title" id="title" class="title-document form-control" placeholder="Title"/></br>
			<button class="btn-primary btn-lg" type="button" value="SAVE" onclick="validateAndSaveDoc()" >Save</button>
			<a th:href="@{/admin/home}"><button class="btn-danger btn-lg" type="button">Cancel</button></a>
			<div class="editor-header editor-header--first">
				<h3 class="title">MARKDOWN</h3>
			</div>
			<div class="editor-header">
				<h3 class="title">PREVIEW</h3>
			</div>
			<div style="width: 50%;">
				<textarea class="g-b g-b--t1of2 split split-editor" rows="20" cols="50" name="markdownText" id="markdownText" 
					oninput="this.editor.update()" placeholder="Start entering the markdown content here...."></textarea>
			</div>
			<div id="preview1" class="g-b g-b--t1of2 split split-preview">
				<div id="preview"></div>
			</div>
		</form>
	</div>

<script type="text/javascript">

function Editor(input, preview) {
  this.update = function () {
    preview.innerHTML = marked(input.value);
  };
  input.editor = this;
  this.update();
}
var $ = function (id) { return document.getElementById(id); };
new Editor($("markdownText"), $("preview"));
</script>

<script type="text/javascript">

function validateAndSaveDoc(){
	
	var title = document.getElementById('title').value;
	var markdownText = document.getElementById('markdownText').value;
	var regExp = /[a-zA-Z]/;
	
	if(title == null || title == ''){
		bootbox.alert("Title of the document cannot be empty!!!");
		return false;
	} else if(!regExp.test(title)){
		bootbox.alert("Please enter a valid title!!! Try removing empty spaces!!!");
		return false;
	}
	
	if(markdownText == null || markdownText == ''){
		bootbox.alert("Markdown content shouldn't be empty! Atleast enter a line!");
		return false;
	} else if(!regExp.test(markdownText)){
		bootbox.alert("Please remove unnecessary white spaces and try again!!!");
		return false;
	}
	
	document.forms[0].action='/docs-app/admin/addNewDoc';
	document.forms[0].submit();
}
</script>
</body>
</html>