<!DOCTYPE HTML>
<html>
<head th:replace="fragments :: head-element"></head> 
<body>
<div class="page-container">
	<div class="left-content">
		<div class="mother-grid-inner">
			
			<div th:replace="fragments :: header-main"></div>
			
			<ol class="breadcrumb">
            	<li class="breadcrumb-item"><a th:href="@{/admin/home}">Home</a> <i class="fa fa-angle-right"></i> Create New Doc</li>
        	</ol>
        
	        <div class="grid-form1">
	            <h3>Create New Document</h3>
	            <div class="tab-content tab-pane active" id="horizontal-form">
	                
	                <form class="form-horizontal">
	                    <div class="form-group">
	                    	<label class="col-sm-1 control-label">Title :</label>
	                    	<div class="col-sm-7">
	                    		<input type="text" name="title" id="title" class="form-control1" placeholder="Title"/>
	                    	</div>
							
							<button class=" col-sm-2 btn-primary btn" type="button" value="SAVE" onclick="validateAndSaveDoc()" >Save</button>
							<a th:href="@{/admin/home}" class="col-sm-2"><button class="btn-default btn" type="button">Cancel</button></a>
						</div>
						
						<div class="form-group">
							<div>
								<textarea class="col-sm-12" rows="20" cols="50" name="markdownText" id="markdownText" 
									placeholder="Start entering the markdown content here...."></textarea>
							</div>
							
							<!-- <div>
								<textarea class="col-sm-6 editor" rows="20" cols="50" name="markdownText" id="markdownText" 
									oninput="this.editor.update()" placeholder="Start entering the markdown content here...."></textarea>
							</div>
							<div id="preview1" class="col-sm-6 editor">
								<div id="preview"></div>
							</div> -->
						</div>
						
	                </form>              
	                
	            </div>
          	</div>

			<div th:replace="fragments :: footer"></div>	

		</div>
	</div>
	<div th:replace="fragments :: side-menu"></div>
	<div class="clearfix"></div>		
</div>

<!-- Markdown editor javascript -->
<!-- <script th:src="@{/js/marked.js}"></script>
<script type="text/javascript">

function Editor(input, preview) {
  this.update = function () {
    preview.innerHTML = marked(input.value);
  };
  input.editor = this;
  this.update();
}
var $ = function (id) { return document.getElementById(id); };
new Editor($("markdownText"), $("preview"));
</script>
 -->
 
 <!-- Markdown Editor -->
<script type="text/javascript">
	var simplemde = new SimpleMDE({
		element: document.getElementById("markdownText") 
		});
	
	$(document).ready(function(){
		$(".fa-arrows-alt").click(function(){
			$(".sidebar-menu").toggle();
		});
		$(".fa-columns").click(function(){
			$(".sidebar-menu").is(":visible") ? $(".sidebar-menu").hide() : '';
		});
	});
</script>

<script type="text/javascript">

function validateAndSaveDoc(){
	
	$('#markdownText').val(simplemde.value());
	var title = document.getElementById('title').value;
	var markdownText = document.getElementById('markdownText').value;
	var regExp = /[a-zA-Z]/;
	
	if(title == null || title == ''){
		bootbox.alert("Title of the document cannot be empty!!!");
		return false;
	} else if(!regExp.test(title)){
		bootbox.alert("Please enter a valid title!!! Try removing empty spaces!!!");
		return false;
	}
	
	if(markdownText == null || markdownText == ''){
		bootbox.alert("Markdown content shouldn't be empty! Atleast enter a line!");
		return false;
	} else if(!regExp.test(markdownText)){
		bootbox.alert("Please remove unnecessary white spaces and try again!!!");
		return false;
	}
	
	document.forms[0].action='/docs-app/admin/addNewDoc';
	document.forms[0].method='POST';
	document.forms[0].submit();
}
</script>
<!-- For browser back controlling -->
<script type="text/javascript">
	window.onbeforeunload = function(){
		return "You will lose the changes! Please use fullscreen button to toggle between the views!";
	};
</script>

</body>
</html>