<!DOCTYPE HTML>
<html>
<head th:replace="fragments :: head-element"></head> 
<body>
<div class="page-container">
	<div class="left-content">
		<div class="mother-grid-inner">
			
			<div th:replace="fragments :: header-main"></div>
			
			<ol class="breadcrumb">
	            <li class="breadcrumb-item"><a th:href="@{/admin/home}">Home</a> <i class="fa fa-angle-right"></i> Manage Docs</li>
	        </ol>
        
	        <div class="agile-grids">	
				<!-- table -->
				<div class="alert alert-info" th:if="${(param.successMessage != null)}">
						<span th:text="${param.successMessage[0]}"></span>
	            </div>		
				<div class="agile-tables">
	
					  <h3>Manage Docs</h3>
					  <table id="table-two-axis" class="two-axis">
						<thead>
						  <tr>
	                		<th>Doc Title</th>
	                		<th>Author</th>
	                		<th>Authored Date</th>
	                		<th>Last Edit By</th>
	                		<th>Last Edit Date</th>
	                		<th>Action</th>
	                	  </tr>
						</thead>
						<tbody>
						  <tr th:each="toc,iterStat : ${tocList}">
		                	<!-- <td th:text="${iterStat.count}"></td> -->
		                	<td th:text="${toc.title}"></td>
		                	<td th:text="${toc.author}"></td>
		                	<td th:text="${toc.created_dtm != null ? #dates.format(toc.created_dtm,'dd MMM yyyy HH:mm a') : toc.created_dtm}"></td>
		                	<td th:text="${toc.edited_by}"></td>
		                	<td th:text="${toc.edited_dtm != null ? #dates.format(toc.edited_dtm,'dd MMM yyyy HH:mm a') : toc.edited_dtm}"></td>
		                	<td>
		                		<!-- <a th:href="@{/admin/manage-docs/edit/{title}(title=${toc.title})}"><i class="fa fa-edit" title="EDIT"></i></a> -->
		                		<a th:href="@{/admin/manage-docs/hide/{title}(title=${toc.title})}" th:if="${toc.active==true}"><i class="fa fa-ban" title="Hide Doc"></i></a>
		                		<a th:href="@{/admin/manage-docs/show/{title}(title=${toc.title})}" th:if="${toc.active==false}"><i class="fa fa-unlock" title="Show Doc"></i></a>
		                		
		                	</td>
	                	  </tr>
						</tbody>
					  </table>
	
				</div>
				<!-- //table -->
			</div>

			<div th:replace="fragments :: footer"></div>	

		</div>
	</div>
	<div th:replace="fragments :: side-menu"></div>
	<div class="clearfix"></div>		
</div>

</body>
</html>