<!DOCTYPE html>
<html>
<head>
<title>Edit Doc</title>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script th:src="@{/js/marked.js}"></script>
  	
  	<link rel="shortcut icon" th:href="@{/img/favicon.ico}">

  	<!-- <link rel="stylesheet" href="/css/theme.css" type="text/css" /> -->
  	<link rel="stylesheet" th:href="@{/css/dilinger.css}" type="text/css" />
</head>
<body>
	<div class="page">
		<div class="navbar">
			<h3 style="padding: 0px 0px 0px 0px;"><a class="brand" th:href="@{/admin/home}">MAGMA-POC DOC</a></h3>
		</div>
		<div class="overlay"></div>
		<h3>Edit Document</h3>
		
		<form th:action="@{/admin/saveDoc}" method="post">
			<input class="form-control title-document" type="text" id="title" name="title" th:value="${title}" readonly="readonly"/>
			<button class="btn-primary btn-lg" type="submit" value="SAVE">Save</button>
			<button class="btn-danger btn-lg" type="button" onclick="javascript:location.href='/magma-poc-doc/admin/home';">Cancel</button>
			<div class="editor-header editor-header--first">
				<h3 class="title">MARKDOWN</h3>
			</div>
			<div class="editor-header">
				<h3 class="title">PREVIEW</h3>
			</div>
			<div style="width: 50%;">
				<textarea class="g-b g-b--t1of2 split split-editor" rows="20" cols="50" name="markdownText" id="markdownText" th:text="${markdownText}" oninput="this.editor.update()"></textarea>
			</div>
			
			<div id="preview1" class="g-b g-b--t1of2 split split-preview">
				<div id="preview"></div>
			</div>
		</form>
	</div>

<script type="text/javascript">

function Editor(input, preview) {
  this.update = function () {
    preview.innerHTML = marked(input.value);
  };
  input.editor = this;
  this.update();
}
var $ = function (id) { return document.getElementById(id); };
new Editor($("markdownText"), $("preview"));
</script>
</body>
</html>