<!DOCTYPE HTML>
<html>
<head th:replace="fragments :: head-element"></head> 
<body>
<div class="page-container">
	<div class="left-content">
		<div class="mother-grid-inner">
			
			<div th:replace="fragments :: header-main"></div>
			
			<ol class="breadcrumb">
	            <li class="breadcrumb-item"><a th:href="@{/admin/home}">Home</a> <i class="fa fa-angle-right"></i> Edit Doc</li>
	        </ol>
        
	        <div class="grid-form1">
	            <h3>Edit Document</h3>
	            <div class="tab-content tab-pane active" id="horizontal-form">
	                
	                <form class="form-horizontal" th:action="@{/admin/saveDoc}" method="post">
	                    <div class="form-group">
	                    	<label class="col-sm-1 control-label">Title :</label>
							<div class="col-sm-7">
								<input type="text" name="title" id="title" class="form-control1" th:value="${title}" readonly="readonly"/>
							</div>
							<button class=" col-sm-2 btn-primary btn" type="submit" value="SAVE" onclick="validateAndSaveDoc()" >Save</button>
							<a th:href="@{/admin/home}" class="col-sm-2"><button class="btn-default btn" type="button">Cancel</button></a>
						</div>
						
						<div class="form-group">
							
							<div>
								<textarea class="col-sm-12" rows="20" cols="50" name="markdownText" id="markdownText" 
									th:text="${markdownText}"></textarea>
							</div>
							<!-- <div>
								<textarea class="col-sm-6 editor" rows="20" cols="50" name="markdownText" id="markdownText" 
									oninput="this.editor.update()" th:text="${markdownText}"></textarea>
							</div>
							<div id="preview1" class="col-sm-6 editor">
								<div id="preview"></div>
							</div> -->
						</div>
						
	                </form>              
	                
	            </div>
          	</div>

			<div th:replace="fragments :: footer"></div>	

		</div>
	</div>
	<div th:replace="fragments :: side-menu"></div>
	<div class="clearfix"></div>		
</div>

<!-- Markdown editor javascript -->
<!-- <script th:src="@{/js/marked.js}"></script>
<script type="text/javascript">

function Editor(input, preview) {
  this.update = function () {
    preview.innerHTML = marked(input.value);
  };
  input.editor = this;
  this.update();
}
var $ = function (id) { return document.getElementById(id); };
new Editor($("markdownText"), $("preview"));
</script> -->

<!-- Markdown Editor -->
<script type="text/javascript">
	var simplemde = new SimpleMDE({
		element: document.getElementById("markdownText") 
		});
	
	$(document).ready(function(){
		$(".fa-arrows-alt").click(function(){
			$(".sidebar-menu").toggle();
		});
		$(".fa-columns").click(function(){
			$(".sidebar-menu").is(":visible") ? $(".sidebar-menu").hide() : '';
		});
	});
</script>

<!-- For browser back controlling -->
<script type="text/javascript">
	window.onbeforeunload = function(){
		return "You will lose the changes! Please use fullscreen button to toggle between the views!";
	};
</script>

</body>
</html>