<!DOCTYPE html>
<html>
<head>
<title>Edit Doc</title>
	<!-- <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"> -->
	<script	th:src="@{/js/jquery-2.2.0.min.js}"></script>
	<script	th:src="@{/js/bootstrap.min.js}"></script>
  	<script th:src="@{/js/marked.js}"></script>
  	
  	<link rel="shortcut icon" th:href="@{/img/favicon.ico}">

  	<!-- <link rel="stylesheet" href="/css/theme.css" type="text/css" /> -->
  	<link rel="stylesheet" th:href="@{/css/dilinger.css}" type="text/css" />
</head>
<body>
	<div class="page">
		<div class="navbar">
			<h3 style="padding: 0px 0px 0px 0px;" class="navbar-brand"><a class="brand" th:href="@{/admin/home}">Docs App</a></h3>
            <div class="nav nav-right" sec:authorize="isAuthenticated()" style="font-family: lato;font-size: large;color: white;">	
	          <span>Logged-in User: </span>
	          <span sec:authentication="name"></span> |					
	          Role: <span sec:authentication="principal.authorities"></span>	
	          <a th:href="@{/logout}"><button class="btn-danger btn-lg" type="button">LogOut</button></a>			
   		 	</div>
		</div>
		<div class="overlay"></div>
		<h3>Edit Document</h3>
		
		<form th:action="@{/admin/saveDoc}" method="post">
			<input class="form-control title-document" type="text" id="title" name="title" th:value="${title}" readonly="readonly"/>
			<button class="btn-primary btn-lg" type="submit" value="SAVE">Save</button>
			<a th:href="@{/admin/home}"><button class="btn-danger btn-lg" type="button">Cancel</button></a>
			<div class="editor-header editor-header--first">
				<h3 class="title">MARKDOWN</h3>
			</div>
			<div class="editor-header">
				<h3 class="title">PREVIEW</h3>
			</div>
			<div style="width: 50%;">
				<textarea class="g-b g-b--t1of2 split split-editor" rows="20" cols="50" name="markdownText" id="markdownText" th:text="${markdownText}" oninput="this.editor.update()"></textarea>
			</div>
			
			<div id="preview1" class="g-b g-b--t1of2 split split-preview">
				<div id="preview"></div>
			</div>
		</form>
	</div>

<script type="text/javascript">

function Editor(input, preview) {
  this.update = function () {
    preview.innerHTML = marked(input.value);
  };
  input.editor = this;
  this.update();
}
var $ = function (id) { return document.getElementById(id); };
new Editor($("markdownText"), $("preview"));
</script>
</body>
</html>