<!DOCTYPE HTML>
<html>
<head th:replace="fragments :: head-element"></head> 
<body>
<div class="page-container">
	<div class="left-content">
		<div class="mother-grid-inner">
			
			<div th:replace="fragments :: header-main"></div>
			
			<ol class="breadcrumb">
	            <li class="breadcrumb-item"><a th:href="@{/admin/home}">Home</a> <i class="fa fa-angle-right"></i></li>
	        </ol>
        
	        <div class="row">
	              <div class="col-lg-12 ">
	                  <div class="alert alert-info" th:if="${(param.successMessage != null)}">
							<a th:if="${(param.title != null)}" th:href="@{/docs/{title}(title=${param.title[0]})}" th:text="${param.title[0]}"></a>
							<span th:text="${param.successMessage[0]}"></span>
	                  </div>
	                 
	              </div>
	        </div>

			<div th:replace="fragments :: footer"></div>	

		</div>
	</div>
	<div th:replace="fragments :: side-menu"></div>
	<div class="clearfix"></div>		
</div>
							
</body>
</html>