<!DOCTYPE HTML>
<html>
<head th:replace="fragments :: head-element"></head> 
<body>
<div class="page-container">
	<div class="left-content">
		<div class="mother-grid-inner">
			
			<div th:replace="fragments :: header-main"></div>
			
			<ol class="breadcrumb">
	            <li class="breadcrumb-item"><a th:href="@{/admin/home}">Home</a> <i class="fa fa-angle-right"></i> Manage Users</li>
	        </ol>
        
	        <div class="agile-grids">	
				<!-- table -->
				<div class="alert alert-info" th:if="${(param.successMessage != null)}">
						<span th:text="${param.successMessage[0]}"></span>
	            </div>		
				<div class="agile-tables">
	
					  <h3>Manage Users</h3>
					  <table id="table-two-axis" class="two-axis">
						<thead>
						  <tr>
	                		<th>Name</th>
	                		<th>E-mail</th>
	                		<th>Role</th>
	                		<th>Action</th>
	                	  </tr>
						</thead>
						<tbody>
						  <tr th:each="user,iterStat : ${users}">
		                	<!-- <td th:text="${iterStat.count}"></td> -->
		                	<td th:text="${user.name} +' '+${user.lastName}"></td>
		                	<td th:text="${user.email}"></td>
		                	<td th:text="${user.role}"></td>
		                	<td>
		                		<a th:href="@{/admin/manage-users/edit/{id}(id=${user.id})}"><i class="fa fa-edit" title="EDIT"></i></a>
		                		<a th:href="@{/admin/manage-users/block/{id}(id=${user.id})}" th:if="${user.active==true}"><i class="fa fa-ban" title="BLOCK"></i></a>
		                		<a th:href="@{/admin/manage-users/unblock/{id}(id=${user.id})}" th:if="${user.active==false}"><i class="fa fa-unlock" title="UNLOCK"></i></a>
		                		<a th:href="@{/admin/manage-users/delete/{id}(id=${user.id})}"><i class="fa fa-trash-o" title="DELETE"></i></a>
		                	</td>
	                	  </tr>
						</tbody>
					  </table>
	
				</div>
				<!-- //table -->
			</div>

			<div th:replace="fragments :: footer"></div>	

		</div>
	</div>
	<div th:replace="fragments :: side-menu"></div>
	<div class="clearfix"></div>		
</div>

</body>
</html>