html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

*,
:after,
:before {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit
}

html {
    font-size: 62.5%;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0
}

main {
    display: block
}

ul {
    list-style: disc;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle
}

button {
    outline: 0;
    padding: 0;
    background: transparent;
    border: none;
    font-size: inherit
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    border: none
}

a {
    text-decoration: none;
    color: inherit
}

a,
button,
input,
label {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit
}

pre {
    background: rgba(0, 0, 0, .05)
}

pre,
pre code {
    color: rgba(0, 0, 0, .87)
}

.c,
.c1,
.cm,
.o {
    color: rgba(0, 0, 0, .54)
}

.k,
.kn {
    color: #a71d5d
}

.kd,
.kt {
    color: #0086b3
}

.n.f,
.nf {
    color: #795da3
}

.nx {
    color: #0086b3
}

.s,
.s1 {
    color: #183691
}

.bp,
.mi {
    color: #9575cd
}

.icon {
    font-family: Icon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-search:before {
    content: "\e600"
}

.icon-back:before {
    content: "\e601"
}

.icon-link:before {
    content: "\e602"
}

.icon-close:before {
    content: "\e603"
}

.icon-menu:before {
    content: "\e604"
}

.icon-forward:before {
    content: "\e605"
}

.icon-twitter:before {
    content: "\e606"
}

.icon-github:before {
    content: "\e607"
}

.icon-download:before {
    content: "\e608"
}

.icon-star:before {
    content: "\e609"
}

.icon-warning:before {
    content: "\e610"
}

.icon-note:before {
    content: "\e611"
}

a {
    -webkit-transition: color .25s;
    transition: color .25s
}

.overlay {
    -webkit-transition: opacity .25s, width 0s .25s, height 0s .25s;
    transition: opacity .25s, width 0s .25s, height 0s .25s
}

#toggle-drawer:checked~.overlay,
.toggle-drawer .overlay {
    -webkit-transition: opacity .25s, width 0s, height 0s;
    transition: opacity .25s, width 0s, height 0s
}

.js .header {
    -webkit-transition: background .6s, color .6s;
    transition: background .6s, color .6s
}

.js .header:before {
    -webkit-transition: background .6s;
    transition: background .6s
}

.button .icon {
    -webkit-transition: background .25s;
    transition: background .25s
}

body {
    color: rgba(0, 0, 0, .87)
}

@supports (-webkit-appearance:none) {
    body {
        background: #e84e40
    }
}

.ios body {
    background: #fff
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .12)
}

.toggle-button {
    cursor: pointer;
    color: inherit
}

.backdrop,
.backdrop-paper:after {
    background: #fff
}

.overlay {
    background: rgba(0, 0, 0, .54);
    opacity: 0
}

#toggle-drawer:checked~.overlay,
.toggle-drawer .overlay {
    opacity: 1
}

.header {
    box-shadow: 0 1.5px 3px rgba(0, 0, 0, .24), 0 3px 8px rgba(0, 0, 0, .05);
    background: #e84e40;
    color: #fff
}

.ios.standalone .header:before {
    background: rgba(0, 0, 0, .12)
}

.bar .path {
    color: hsla(0, 0%, 100%, .7)
}

.button .icon {
    border-radius: 100%
}

.button .icon:active {
    background: hsla(0, 0%, 100%, .12)
}

html {
    height: 100%
}

body {
    position: relative;
    min-height: 100%
}

hr {
    display: block;
    height: 1px;
    padding: 0;
    margin: 0
}

.locked {
    height: 100%;
    overflow: hidden
}

.scrollable {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.scrollable .wrapper {
    height: 100%
}

.ios .scrollable .wrapper {
    margin-bottom: 2px
}

.toggle {
    display: none
}

.toggle-button {
    display: block
}

.backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1
}

.backdrop-paper {
    max-width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto
}

.backdrop-paper:after {
    content: " ";
    display: block;
    height: 100%;
    margin-left: 262px
}

.overlay {
    width: 0;
    height: 0;
    z-index: 3
}

.header,
.overlay {
    position: fixed;
    top: 0
}

.header {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    left: 0;
    z-index: 2;
    height: 56px;
    padding: 4px;
    overflow: hidden
}

.ios.standalone .header {
    position: absolute
}

.bar {
    display: table;
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto
}

.bar a {
    display: block
}

.no-js .bar .button-search {
    display: none
}

.bar .path .icon:before {
    vertical-align: -1.5px
}

.button {
    display: table-cell;
    vertical-align: top;
    width: 1%
}

.button button {
    margin: 0;
    padding: 0
}

.button button:active:before {
    position: relative;
    top: 0;
    left: 0
}

.button .icon {
    display: inline-block;
    font-size: 24px;
    padding: 8px;
    margin: 4px
}

.stretch {
    display: table;
    table-layout: fixed;
    width: 100%
}

.header .stretch {
    padding: 0 20px
}

.stretch .title {
    display: table-cell;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.header .stretch .title {
    font-size: 18px;
    padding: 13px 0
}

.main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto
}

body,
input {
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.no-fontface body,
.no-fontface input,
body,
input {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

.no-fontface code,
.no-fontface kbd,
.no-fontface pre,
code,
kbd,
pre {
    font-family: Courier New, Courier, monospace
}

#toggle-drawer:checked~.main .drawer,
.toggle-drawer .drawer {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.no-csstransforms3d #toggle-drawer:checked~.main .drawer,
.no-csstransforms3d .toggle-drawer .drawer {
    display: block
}

.project {
    -webkit-transition: none;
    transition: none
}

.project .logo img {
    -webkit-transition: box-shadow .4s;
    transition: box-shadow .4s
}

.repo a {
    -webkit-transition: box-shadow .4s, opacity .4s;
    transition: box-shadow .4s, opacity .4s
}

.drawer .toc a.current,
.drawer .toc a:focus,
.drawer .toc a:hover {
    color: #e84e40
}

.drawer .anchor a {
    border-left: 2px solid #e84e40
}

.drawer .section {
    color: rgba(0, 0, 0, .54)
}

.ios.standalone .project:before {
    background: rgba(0, 0, 0, .12)
}

.project .logo img {
    background: #fff;
    border-radius: 100%
}

.project:focus .logo img,
.project:hover .logo img {
    box-shadow: 0 4px 7px rgba(0, 0, 0, .23), 0 8px 25px rgba(0, 0, 0, .05)
}

.repo a {
    background: #00bfa5;
    color: #fff;
    border-radius: 3px
}

.repo a:focus,
.repo a:hover {
    box-shadow: 0 4px 7px rgba(0, 0, 0, .23), 0 8px 25px rgba(0, 0, 0, .05);
    opacity: .8
}

.repo a .count {
    background: rgba(0, 0, 0, .26);
    color: #fff;
    border-radius: 0 3px 3px 0
}

.repo a .count:before {
    border-width: 15px 5px 15px 0;
    border-color: transparent rgba(0, 0, 0, .26);
    border-style: solid
}

.drawer {
    width: 262px;
    font-size: 13px;
    line-height: 1em
}

.ios .drawer {
    overflow: scroll;
    -webkit-overflow-scrolling: touch
}

.drawer .toc li a {
    display: block;
    padding: 14.5px 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.drawer .toc li.anchor a {
    margin-left: 12px;
    padding: 10px 24px 10px 12px
}

.drawer .toc li ul {
    margin-left: 12px
}

.drawer .current+ul {
    margin-bottom: 9px
}

.drawer .section {
    display: block;
    padding: 14.5px 24px
}

.drawer .scrollable {
    top: 104px;
    z-index: -1
}

.drawer .scrollable .wrapper {
    height: auto;
    min-height: 100%
}

.drawer .scrollable .wrapper hr {
    margin: 12px 0;
    margin-right: auto
}

.drawer .scrollable .wrapper .toc {
    margin: 12px 0
}

.project {
    display: block
}

.project .banner {
    display: table;
    width: 100%;
    height: 104px;
    padding: 20px
}

.project .logo {
    display: table-cell;
    width: 64px;
    padding-right: 12px
}

.project .logo img {
    display: block;
    width: 64px;
    height: 64px
}

.project .name {
    display: table-cell;
    padding-left: 4px;
    font-size: 14px;
    line-height: 1.25em;
    vertical-align: middle
}

.project .logo+.name {
    font-size: 12px
}

.repo {
    margin: 24px 0;
    text-align: center
}

.repo li {
    display: inline-block;
    padding-right: 12px;
    white-space: nowrap
}

.repo li:last-child {
    padding-right: 0
}

.repo a {
    display: inline-block;
    padding: 0 10px 0 6px;
    font-size: 12px;
    line-height: 30px;
    height: 30px
}

.repo a .icon {
    font-size: 18px;
    vertical-align: -3px
}

.repo a .count {
    display: inline-block;
    position: relative;
    padding: 0 8px 0 4px;
    margin: 0 -10px 0 8px;
    font-size: 12px
}

.repo a .count:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: -5px
}

.no-js .repo a .count {
    display: none
}

.drawer .toc li a {
    font-weight: 700
}

.drawer .toc li.anchor a {
    font-weight: 400
}

.drawer .section,
.repo a {
    font-weight: 700
}

.repo a {
    text-transform: uppercase
}

.repo a .count {
    text-transform: none;
    font-weight: 700
}

pre span {
    -webkit-transition: color .25s;
    transition: color .25s
}

.copyright a {
    -webkit-transition: color .25s;
    transition: color .25s
}

.ios.standalone .article {
    background: -webkit-linear-gradient(top, #fff 50%, #e84e40 0);
    background: linear-gradient(180deg, #fff 50%, #e84e40 0)
}

.ios.standalone .article .wrapper {
    background: -webkit-linear-gradient(top, #fff 50%, #fff 0);
    background: linear-gradient(180deg, #fff 50%, #fff 0)
}

.article a,
.article h1,
.article h2 {
    color: #e84e40
}

.article code {
    background: #eee
}

.article kbd {
    color: #555;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb
}

.article h1 {
    border-bottom: 1px solid rgba(0, 0, 0, .12)
}

.article a {
    border-bottom: 1px dotted
}

.article a:focus,
.article a:hover {
    color: #00bfa5
}

.article .headerlink {
    color: rgba(0, 0, 0, .26);
    border: none
}

.article table {
    box-shadow: 0 1.5px 3px rgba(0, 0, 0, .24), 0 3px 8px rgba(0, 0, 0, .05);
    border-radius: 3px
}

.article table th {
    background: #ee7a70;
    color: #fff
}

.article table td {
    border-top: 1px solid rgba(0, 0, 0, .05)
}

.article blockquote {
    border-left: 2px solid rgba(0, 0, 0, .54);
    color: rgba(0, 0, 0, .54)
}

.footer {
    background: #e84e40;
    color: #fff
}

.footer a {
    border: none
}

.copyright {
    color: rgba(0, 0, 0, .54)
}

.pagination a .button,
.pagination a .title {
    color: #fff
}

.pagination .direction {
    color: hsla(0, 0%, 100%, .7)
}

.admonition {
    background: #29b6f6;
    color: #fff
}

.admonition pre {
    background: hsla(0, 0%, 100%, .3)
}

.admonition.warning {
    background: #e84e40
}

.admonition a,
.admonition a:hover {
    color: #fff
}

.article {
    font-size: 14px;
    line-height: 1.7em
}

.article:after {
    content: " ";
    display: block;
    clear: both
}

.article .wrapper {
    padding: 116px 16px 92px
}

.ios.standalone .article {
    position: absolute;
    top: 56px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.ios.standalone .article .wrapper {
    position: relative;
    min-height: 100%;
    padding-top: 60px;
    margin-bottom: 2px
}

.article h1 {
    font-size: 24px;
    line-height: 1.333334em;
    padding: 20px 0 42px
}

.article h2 {
    font-size: 20px;
    line-height: 1.4em;
    padding-top: 92px;
    margin-top: -56px
}

.ios.standalone .article h2 {
    padding-top: 36px;
    margin: 0
}

.article h3,
.article h4 {
    font-size: 14px;
    padding-top: 76px;
    margin-top: -56px
}

.ios.standalone .article h3,
.ios.standalone .article h4 {
    padding-top: 20px;
    margin-top: 0
}

.article .headerlink {
    float: right;
    margin-left: 20px;
    font-size: 14px
}

h1 .article .headerlink {
    display: none
}

.article ol,
.article p,
.article ul {
    margin-top: 1.5em
}

.article li,
.article li ol,
.article li ul {
    margin-top: .75em
}

.article li {
    margin-left: 18px
}

.article li p {
    display: inline
}

.article ul>li:before {
    
    display: block;
    float: left;
    font-family: Icon;
    font-size: 16px;
    width: 1.2em;
    margin-left: -1.2em;
    vertical-align: -.1em
}

.article p>code {
    white-space: nowrap;
    padding: 2px 4px
}

.article kbd {
    display: inline-block;
    padding: 3px 5px;
    line-height: 10px
}

.article hr {
    margin-top: 1.5em
}

.article img {
    max-width: 100%
}

.article pre {
    padding: 16px;
    margin: 1.5em -16px 0;
    line-height: 1.5em;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.article table {
    margin: 3em 0 1.5em;
    font-size: 13px;
    overflow: hidden
}

.no-js .article table {
    display: inline-block;
    max-width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.article table th {
    min-width: 100px;
    font-size: 12px;
    text-align: left
}

.article table td,
.article table th {
    padding: 12px 16px;
    vertical-align: top
}

.article blockquote {
    padding-left: 16px
}

.article .data {
    margin: 1.5em -16px;
    padding: 1.5em 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    text-align: center
}

.article .data table {
    display: inline-block;
    margin: 0 16px;
    text-align: left
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 4px
}

.copyright {
    margin: 1.5em 0
}

.pagination {
    max-width: 1184px;
    height: 92px;
    padding: 4px 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden
}

.pagination a {
    display: block;
    height: 100%
}

.pagination .next,
.pagination .previous {
    position: relative;
    float: left;
    height: 100%
}

.pagination .previous {
    width: 25%
}

.pagination .previous .direction,
.pagination .previous .stretch {
    display: none
}

.pagination .next {
    width: 75%;
    text-align: right
}

.pagination .page {
    display: table;
    position: absolute;
    bottom: 4px
}

.pagination .direction {
    display: block;
    position: absolute;
    bottom: 40px;
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    padding: 0 52px
}

.pagination .stretch {
    padding: 0 4px
}

.pagination .stretch .title {
    font-size: 18px;
    padding: 11px 0 13px
}

.admonition {
    margin: 20px -16px 0;
    padding: 20px 16px
}

.admonition>:first-child {
    margin-top: 0
}

.admonition .admonition-title {
    font-size: 20px
}

.admonition .admonition-title:before {
    content: "\e611";
    display: block;
    float: left;
    font-family: Icon;
    font-size: 24px;
    vertical-align: -.1em;
    margin-right: 5px
}

.admonition.warning .admonition-title:before {
    content: "\e610"
}

.article h3 {
    font-weight: 700
}

.article h4 {
    font-weight: 400;
    font-style: italic
}

.article h2 a,
.article h3 a,
.article h4 a,
.article h5 a,
.article h6 a {
    font-weight: 400;
    font-style: normal
}

.bar {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: opacity .2s cubic-bezier(.75, 0, .25, 1), -webkit-transform .4s cubic-bezier(.75, 0, .25, 1);
    transition: opacity .2s cubic-bezier(.75, 0, .25, 1), -webkit-transform .4s cubic-bezier(.75, 0, .25, 1);
    transition: opacity .2s cubic-bezier(.75, 0, .25, 1), transform .4s cubic-bezier(.75, 0, .25, 1);
    transition: opacity .2s cubic-bezier(.75, 0, .25, 1), transform .4s cubic-bezier(.75, 0, .25, 1), -webkit-transform .4s cubic-bezier(.75, 0, .25, 1)
}

#toggle-search:checked~.header .bar,
.toggle-search .bar {
    -webkit-transform: translate3d(0, -56px, 0);
    transform: translate3d(0, -56px, 0)
}

.bar.search .button-reset {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transition: opacity .4s cubic-bezier(.1, .7, .1, 1), -webkit-transform .4s cubic-bezier(.1, .7, .1, 1);
    transition: opacity .4s cubic-bezier(.1, .7, .1, 1), -webkit-transform .4s cubic-bezier(.1, .7, .1, 1);
    transition: opacity .4s cubic-bezier(.1, .7, .1, 1), transform .4s cubic-bezier(.1, .7, .1, 1);
    transition: opacity .4s cubic-bezier(.1, .7, .1, 1), transform .4s cubic-bezier(.1, .7, .1, 1), -webkit-transform .4s cubic-bezier(.1, .7, .1, 1);
    opacity: 0
}

.bar.search.non-empty .button-reset {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
}

.results {
    -webkit-transition: opacity .3s .1s, width 0s .4s, height 0s .4s;
    transition: opacity .3s .1s, width 0s .4s, height 0s .4s
}

#toggle-search:checked~.main .results,
.toggle-search .results {
    -webkit-transition: opacity .4s, width 0s, height 0s;
    transition: opacity .4s, width 0s, height 0s
}

.results .list a {
    -webkit-transition: background .25s;
    transition: background .25s
}

.no-csstransforms3d .bar.default {
    display: table
}

.no-csstransforms3d .bar.search {
    display: none;
    margin-top: 0
}

.no-csstransforms3d #toggle-search:checked~.header .bar.default,
.no-csstransforms3d .toggle-search .bar.default {
    display: none
}

.no-csstransforms3d #toggle-search:checked~.header .bar.search,
.no-csstransforms3d .toggle-search .bar.search {
    display: table
}

.bar.search {
    opacity: 0
}

.bar.search .query {
    background: transparent;
    color: rgba(0, 0, 0, .87)
}

.bar.search .query::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .26)
}

.bar.search .query:-moz-placeholder,
.bar.search .query::-moz-placeholder {
    color: rgba(0, 0, 0, .26)
}

.bar.search .query:-ms-input-placeholder {
    color: rgba(0, 0, 0, .26)
}

.bar.search .button .icon:active {
    background: rgba(0, 0, 0, .12)
}

.results {
    box-shadow: 0 4px 7px rgba(0, 0, 0, .23), 0 8px 25px rgba(0, 0, 0, .05);
    background: #fff;
    color: rgba(0, 0, 0, .87);
    opacity: 0
}

#toggle-search:checked~.main .results,
.toggle-search .results {
    opacity: 1
}

.results .meta {
    background: #e84e40;
    color: #fff
}

.results .list a {
    border-bottom: 1px solid rgba(0, 0, 0, .12)
}

.results .list a:last-child {
    border-bottom: none
}

.results .list a:active {
    background: rgba(0, 0, 0, .12)
}

.result span {
    color: rgba(0, 0, 0, .54)
}

#toggle-search:checked~.header,
.toggle-search .header {
    background: #fff;
    color: rgba(0, 0, 0, .54)
}

#toggle-search:checked~.header:before,
.toggle-search .header:before {
    background: rgba(0, 0, 0, .54)
}

#toggle-search:checked~.header .bar.default,
.toggle-search .header .bar.default {
    opacity: 0
}

#toggle-search:checked~.header .bar.search,
.toggle-search .header .bar.search {
    opacity: 1
}

.bar.search {
    margin-top: 8px
}

.bar.search .query {
    font-size: 18px;
    padding: 13px 0;
    margin: 0;
    width: 100%;
    height: 48px
}

.bar.search .query::-ms-clear {
    display: none
}

.results {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}

.results .scrollable {
    top: 56px
}

#toggle-search:checked~.main .results,
.toggle-search .results {
    width: 100%;
    overflow-y: visible
}

.results .meta {
    font-weight: 700
}

.results .meta strong {
    display: block;
    font-size: 11px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px
}

.results .list a {
    display: block
}

.result {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 16px 16px
}

.result h1 {
    line-height: 24px
}

.result h1,
.result span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.result span {
    font-size: 12px
}

.no-csstransforms3d .results {
    display: none
}

.no-csstransforms3d #toggle-search:checked~.main .results,
.no-csstransforms3d .toggle-search .results {
    display: block;
    overflow: auto
}

.meta {
    text-transform: uppercase;
    font-weight: 700
}

@media only screen and (min-width:960px) {
    .backdrop {
        background: #f2f2f2
    }
    .backdrop-paper:after {
        box-shadow: 0 1.5px 3px rgba(0, 0, 0, .24), 0 3px 8px rgba(0, 0, 0, .05)
    }
    .button-menu {
        display: none
    }
    .drawer {
        float: left;
        height: auto;
        margin-bottom: 96px;
        padding-top: 80px
    }
    .drawer,
    .drawer .scrollable {
        position: static
    }
    .article {
        margin-left: 262px
    }
    .footer {
        z-index: 4
    }
    .copyright {
        margin-bottom: 64px
    }
    .results {
        height: auto;
        top: 64px
    }
    .results .scrollable {
        position: static;
        max-height: 413px
    }
}

@media only screen and (max-width:959px) {
    #toggle-drawer:checked~.overlay,
    .toggle-drawer .overlay {
        width: 100%;
        height: 100%
    }
    .drawer {
        -webkit-transform: translate3d(-262px, 0, 0);
        transform: translate3d(-262px, 0, 0);
        -webkit-transition: -webkit-transform .25s cubic-bezier(.4, 0, .2, 1);
        transition: -webkit-transform .25s cubic-bezier(.4, 0, .2, 1);
        transition: transform .25s cubic-bezier(.4, 0, .2, 1);
        transition: transform .25s cubic-bezier(.4, 0, .2, 1), -webkit-transform .25s cubic-bezier(.4, 0, .2, 1)
    }
    .no-csstransforms3d .drawer {
        display: none
    }
    .drawer {
        background: #fff
    }
    .project {
        box-shadow: 0 1.5px 3px rgba(0, 0, 0, .24), 0 3px 8px rgba(0, 0, 0, .05);
        background: #e84e40;
        color: #fff
    }
    .drawer {
        position: fixed;
        z-index: 4
    }
    #toggle-search:checked~.main .results,
    .drawer,
    .toggle-search .results {
        height: 100%
    }
}

@media only screen and (min-width:720px) {
    .header {
        height: 64px;
        padding: 8px
    }
    .header .stretch {
        padding: 0 16px
    }
    .header .stretch .title {
        font-size: 20px;
        padding: 12px 0
    }
    .project .name {
        margin: 26px 0 0 5px
    }
    .article .wrapper {
        padding: 128px 24px 96px
    }
    .article .data {
        margin: 1.5em -24px
    }
    .article .data table {
        margin: 0 24px
    }
    .article h2 {
        padding-top: 100px;
        margin-top: -64px
    }
    .ios.standalone .article h2 {
        padding-top: 28px;
        margin-top: 8px
    }
    .article h3,
    .article h4 {
        padding-top: 84px;
        margin-top: -64px
    }
    .ios.standalone .article h3,
    .ios.standalone .article h4 {
        padding-top: 20px;
        margin-top: 0
    }
    .article pre {
        padding: 1.5em 24px;
        margin: 1.5em -24px 0
    }
    .footer {
        padding: 0 8px
    }
    .pagination {
        height: 96px;
        padding: 8px 0
    }
    .pagination .direction {
        padding: 0 56px;
        bottom: 40px
    }
    .pagination .stretch {
        padding: 0 8px
    }
    .admonition {
        margin: 20px -24px 0;
        padding: 20px 24px
    }
    .bar.search .query {
        font-size: 20px;
        padding: 12px 0
    }
    .results .scrollable {
        top: 64px
    }
    .results .meta strong {
        padding: 16px 24px
    }
    .result {
        padding: 16px 24px 20px
    }
}

@media only screen and (min-width:1200px) {
    .header {
        width: 100%
    }
    .drawer .scrollable .wrapper hr {
        width: 48px
    }
}

@media only screen and (orientation:portrait) {
    .ios.standalone .header {
        height: 76px;
        padding-top: 24px
    }
    .ios.standalone .header:before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 20px
    }
    .ios.standalone .drawer .scrollable {
        top: 124px
    }
    .ios.standalone .project {
        padding-top: 20px
    }
    .ios.standalone .project:before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 20px
    }
    .ios.standalone .article {
        position: absolute;
        top: 76px;
        right: 0;
        bottom: 0;
        left: 0
    }
    .ios.standalone .results .scrollable {
        top: 76px
    }
}

@media only screen and (orientation:portrait) and (min-width:720px) {
    .ios.standalone .header {
        height: 84px;
        padding-top: 28px
    }
    .ios.standalone .results .scrollable {
        top: 84px
    }
}

@media only screen and (max-width:719px) {
    .bar .path {
        display: none
    }
}

@media only screen and (max-width:479px) {
    .button-github,
    .button-twitter {
        display: none
    }
}

@media only screen and (min-width:720px) and (max-width:959px) {
    .header .stretch {
        padding: 0 24px
    }
}

@media only screen and (min-width:480px) {
    .pagination .next,
    .pagination .previous {
        width: 50%
    }
    .pagination .previous .direction {
        display: block
    }
    .pagination .previous .stretch {
        display: table
    }
}

@media print {
    .drawer,
    .footer,
    .header,
    .headerlink {
        display: none
    }
    .article .wrapper {
        padding-top: 0
    }
    .article pre,
    .article pre * {
        color: rgba(0, 0, 0, .87)!important
    }
    .article pre {
        border: 1px solid rgba(0, 0, 0, .12)
    }
    .article table {
        border-radius: none;
        box-shadow: none
    }
    .article table th {
        color: #e84e40
    }
}


/*!
 *  Font Awesome 4.1.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

#font-face {
    font-family: 'FontAwesome';
    src: url("../fonts/fontawesome-webfont.eot");
    src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),  url("../fonts/fontawesome-webfont.svg?#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

.fa,
.rst-content .admonition-title,
.rst-content h1 .headerlink,
.rst-content h2 .headerlink,
.rst-content h3 .headerlink,
.rst-content h4 .headerlink,
.rst-content h5 .headerlink,
.rst-content h6 .headerlink,
.rst-content dl dt .headerlink,
.icon {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-lg {
    font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -15%
}

.fa-2x {
    font-size: 2em
}

.fa-3x {
    font-size: 3em
}

.fa-4x {
    font-size: 4em
}

.fa-5x {
    font-size: 5em
}

.fa-fw {
    width: 1.28571em;
    text-align: center
}

.fa-ul {
    padding-left: 0;
    margin-left: 2.14286em;
    list-style-type: none
}

.fa-ul>li {
    position: relative
}

.fa-li {
    position: absolute;
    left: -2.14286em;
    width: 2.14286em;
    top: 0.14286em;
    text-align: center
}

.fa-li.fa-lg {
    left: -1.85714em
}

.fa-border {
    padding: .2em .25em .15em;
    border: solid 0.08em #eee;
    border-radius: .1em
}

.pull-right {
    float: right
}

.pull-left {
    float: left
}

.fa.pull-left,
.rst-content .pull-left.admonition-title,
.rst-content h1 .pull-left.headerlink,
.rst-content h2 .pull-left.headerlink,
.rst-content h3 .pull-left.headerlink,
.rst-content h4 .pull-left.headerlink,
.rst-content h5 .pull-left.headerlink,
.rst-content h6 .pull-left.headerlink,
.rst-content dl dt .pull-left.headerlink,
.pull-left.icon {
    margin-right: .3em
}

.fa.pull-right,
.rst-content .pull-right.admonition-title,
.rst-content h1 .pull-right.headerlink,
.rst-content h2 .pull-right.headerlink,
.rst-content h3 .pull-right.headerlink,
.rst-content h4 .pull-right.headerlink,
.rst-content h5 .pull-right.headerlink,
.rst-content h6 .pull-right.headerlink,
.rst-content dl dt .pull-right.headerlink,
.pull-right.icon {
    margin-left: .3em
}

.fa-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg)
    }
    100% {
        -moz-transform: rotate(359deg)
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg)
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg)
    }
    100% {
        -o-transform: rotate(359deg)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.fa-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

.fa-rotate-180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.fa-rotate-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg)
}

.fa-flip-horizontal {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.fa-flip-vertical {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: scale(1, -1);
    -moz-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    transform: scale(1, -1)
}

.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle
}

.fa-stack-1x,
.fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center
}

.fa-stack-1x {
    line-height: inherit
}

.fa-stack-2x {
    font-size: 2em
}

.fa-inverse {
    color: #fff
}

.fa-glass:before {
    content: ""
}

.fa-music:before {
    content: ""
}

.fa-search:before,
.icon-search:before {
    content: ""
}

.fa-envelope-o:before {
    content: ""
}

.fa-heart:before {
    content: ""
}

.fa-star:before {
    content: ""
}

.fa-star-o:before {
    content: ""
}

.fa-user:before {
    content: ""
}

.fa-film:before {
    content: ""
}

.fa-th-large:before {
    content: ""
}

.fa-th:before {
    content: ""
}

.fa-th-list:before {
    content: ""
}

.fa-check:before {
    content: ""
}

.fa-times:before {
    content: ""
}

.fa-search-plus:before {
    content: ""
}

.fa-search-minus:before {
    content: ""
}

.fa-power-off:before {
    content: ""
}

.fa-signal:before {
    content: ""
}

.fa-gear:before,
.fa-cog:before {
    content: ""
}

.fa-trash-o:before {
    content: ""
}

.fa-home:before,
.icon-home:before {
    content: ""
}

.fa-file-o:before {
    content: ""
}

.fa-clock-o:before {
    content: ""
}

.fa-road:before {
    content: ""
}

.fa-download:before {
    content: ""
}

.fa-arrow-circle-o-down:before {
    content: ""
}

.fa-arrow-circle-o-up:before {
    content: ""
}

.fa-inbox:before {
    content: ""
}

.fa-play-circle-o:before {
    content: ""
}

.fa-rotate-right:before,
.fa-repeat:before {
    content: ""
}

.fa-refresh:before {
    content: ""
}

.fa-list-alt:before {
    content: ""
}

.fa-lock:before {
    content: ""
}

.fa-flag:before {
    content: ""
}

.fa-headphones:before {
    content: ""
}

.fa-volume-off:before {
    content: ""
}

.fa-volume-down:before {
    content: ""
}

.fa-volume-up:before {
    content: ""
}

.fa-qrcode:before {
    content: ""
}

.fa-barcode:before {
    content: ""
}

.fa-tag:before {
    content: ""
}

.fa-tags:before {
    content: ""
}

.fa-book:before,
.icon-book:before {
    content: ""
}

.fa-bookmark:before {
    content: ""
}

.fa-print:before {
    content: ""
}

.fa-camera:before {
    content: ""
}

.fa-font:before {
    content: ""
}

.fa-bold:before {
    content: ""
}

.fa-italic:before {
    content: ""
}

.fa-text-height:before {
    content: ""
}

.fa-text-width:before {
    content: ""
}

.fa-align-left:before {
    content: ""
}

.fa-align-center:before {
    content: ""
}

.fa-align-right:before {
    content: ""
}

.fa-align-justify:before {
    content: ""
}

.fa-list:before {
    content: ""
}

.fa-dedent:before,
.fa-outdent:before {
    content: ""
}

.fa-indent:before {
    content: ""
}

.fa-video-camera:before {
    content: ""
}

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
    content: ""
}

.fa-pencil:before {
    content: ""
}

.fa-map-marker:before {
    content: ""
}

.fa-adjust:before {
    content: ""
}

.fa-tint:before {
    content: ""
}

.fa-edit:before,
.fa-pencil-square-o:before {
    content: ""
}

.fa-share-square-o:before {
    content: ""
}

.fa-check-square-o:before {
    content: ""
}

.fa-arrows:before {
    content: ""
}

.fa-step-backward:before {
    content: ""
}

.fa-fast-backward:before {
    content: ""
}

.fa-backward:before {
    content: ""
}

.fa-play:before {
    content: ""
}

.fa-pause:before {
    content: ""
}

.fa-stop:before {
    content: ""
}

.fa-forward:before {
    content: ""
}

.fa-fast-forward:before {
    content: ""
}

.fa-step-forward:before {
    content: ""
}

.fa-eject:before {
    content: ""
}

.fa-chevron-left:before {
    content: ""
}

.fa-chevron-right:before {
    content: ""
}

.fa-plus-circle:before {
    content: ""
}

.fa-minus-circle:before {
    content: ""
}

.fa-times-circle:before,
.wy-inline-validate.wy-inline-validate-danger .wy-input-context:before {
    content: ""
}

.fa-check-circle:before,
.wy-inline-validate.wy-inline-validate-success .wy-input-context:before {
    content: ""
}

.fa-question-circle:before {
    content: ""
}

.fa-info-circle:before {
    content: ""
}

.fa-crosshairs:before {
    content: ""
}

.fa-times-circle-o:before {
    content: ""
}

.fa-check-circle-o:before {
    content: ""
}

.fa-ban:before {
    content: ""
}

.fa-arrow-left:before {
    content: ""
}

.fa-arrow-right:before {
    content: ""
}

.fa-arrow-up:before {
    content: ""
}

.fa-arrow-down:before {
    content: ""
}

.fa-mail-forward:before,
.fa-share:before {
    content: ""
}

.fa-expand:before {
    content: ""
}

.fa-compress:before {
    content: ""
}

.fa-plus:before {
    content: ""
}

.fa-minus:before {
    content: ""
}

.fa-asterisk:before {
    content: ""
}

.fa-exclamation-circle:before,
.wy-inline-validate.wy-inline-validate-warning .wy-input-context:before,
.wy-inline-validate.wy-inline-validate-info .wy-input-context:before,
.rst-content .admonition-title:before {
    content: ""
}

.fa-gift:before {
    content: ""
}

.fa-leaf:before {
    content: ""
}

.fa-fire:before,
.icon-fire:before {
    content: ""
}

.fa-eye:before {
    content: ""
}

.fa-eye-slash:before {
    content: ""
}

.fa-warning:before,
.fa-exclamation-triangle:before {
    content: ""
}

.fa-plane:before {
    content: ""
}

.fa-calendar:before {
    content: ""
}

.fa-random:before {
    content: ""
}

.fa-comment:before {
    content: ""
}

.fa-magnet:before {
    content: ""
}

.fa-chevron-up:before {
    content: ""
}

.fa-chevron-down:before {
    content: ""
}

.fa-retweet:before {
    content: ""
}

.fa-shopping-cart:before {
    content: ""
}

.fa-folder:before {
    content: ""
}

.fa-folder-open:before {
    content: ""
}

.fa-arrows-v:before {
    content: ""
}

.fa-arrows-h:before {
    content: ""
}

.fa-bar-chart-o:before {
    content: ""
}

.fa-twitter-square:before {
    content: ""
}

.fa-facebook-square:before {
    content: ""
}

.fa-camera-retro:before {
    content: ""
}

.fa-key:before {
    content: ""
}

.fa-gears:before,
.fa-cogs:before {
    content: ""
}

.fa-comments:before {
    content: ""
}

.fa-thumbs-o-up:before {
    content: ""
}

.fa-thumbs-o-down:before {
    content: ""
}

.fa-star-half:before {
    content: ""
}

.fa-heart-o:before {
    content: ""
}

.fa-sign-out:before {
    content: ""
}

.fa-linkedin-square:before {
    content: ""
}

.fa-thumb-tack:before {
    content: ""
}

.fa-external-link:before {
    content: ""
}

.fa-sign-in:before {
    content: ""
}

.fa-trophy:before {
    content: ""
}

.fa-github-square:before {
    content: ""
}

.fa-upload:before {
    content: ""
}

.fa-lemon-o:before {
    content: ""
}

.fa-phone:before {
    content: ""
}

.fa-square-o:before {
    content: ""
}

.fa-bookmark-o:before {
    content: ""
}

.fa-phone-square:before {
    content: ""
}

.fa-twitter:before {
    content: ""
}

.fa-facebook:before {
    content: ""
}

.fa-github:before,
.icon-github:before {
    content: ""
}

.fa-unlock:before {
    content: ""
}

.fa-credit-card:before {
    content: ""
}

.fa-rss:before {
    content: ""
}

.fa-hdd-o:before {
    content: ""
}

.fa-bullhorn:before {
    content: ""
}

.fa-bell:before {
    content: ""
}

.fa-certificate:before {
    content: ""
}

.fa-hand-o-right:before {
    content: ""
}

.fa-hand-o-left:before {
    content: ""
}

.fa-hand-o-up:before {
    content: ""
}

.fa-hand-o-down:before {
    content: ""
}

.fa-arrow-circle-left:before,
.icon-circle-arrow-left:before {
    content: ""
}

.fa-arrow-circle-right:before,
.icon-circle-arrow-right:before {
    content: ""
}

.fa-arrow-circle-up:before {
    content: ""
}

.fa-arrow-circle-down:before {
    content: ""
}

.fa-globe:before {
    content: ""
}

.fa-wrench:before {
    content: ""
}

.fa-tasks:before {
    content: ""
}

.fa-filter:before {
    content: ""
}

.fa-briefcase:before {
    content: ""
}

.fa-arrows-alt:before {
    content: ""
}

.fa-group:before,
.fa-users:before {
    content: ""
}

.fa-chain:before,
.fa-link:before,
.icon-link:before {
    content: ""
}

.fa-cloud:before {
    content: ""
}

.fa-flask:before {
    content: ""
}

.fa-cut:before,
.fa-scissors:before {
    content: ""
}

.fa-copy:before,
.fa-files-o:before {
    content: ""
}

.fa-paperclip:before {
    content: ""
}

.fa-save:before,
.fa-floppy-o:before {
    content: ""
}

.fa-square:before {
    content: ""
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
    content: ""
}

.fa-list-ul:before {
    content: ""
}

.fa-list-ol:before {
    content: ""
}

.fa-strikethrough:before {
    content: ""
}

.fa-underline:before {
    content: ""
}

.fa-table:before {
    content: ""
}

.fa-magic:before {
    content: ""
}

.fa-truck:before {
    content: ""
}

.fa-pinterest:before {
    content: ""
}

.fa-pinterest-square:before {
    content: ""
}

.fa-google-plus-square:before {
    content: ""
}

.fa-google-plus:before {
    content: ""
}

.fa-money:before {
    content: ""
}

.fa-caret-down:before,
.wy-dropdown .caret:before,
.icon-caret-down:before {
    content: ""
}

.fa-caret-up:before {
    content: ""
}

.fa-caret-left:before {
    content: ""
}

.fa-caret-right:before {
    content: ""
}

.fa-columns:before {
    content: ""
}

.fa-unsorted:before,
.fa-sort:before {
    content: ""
}

.fa-sort-down:before,
.fa-sort-desc:before {
    content: ""
}

.fa-sort-up:before,
.fa-sort-asc:before {
    content: ""
}

.fa-envelope:before {
    content: ""
}

.fa-linkedin:before {
    content: ""
}

.fa-rotate-left:before,
.fa-undo:before {
    content: ""
}

.fa-legal:before,
.fa-gavel:before {
    content: ""
}

.fa-dashboard:before,
.fa-tachometer:before {
    content: ""
}

.fa-comment-o:before {
    content: ""
}

.fa-comments-o:before {
    content: ""
}

.fa-flash:before,
.fa-bolt:before {
    content: ""
}

.fa-sitemap:before {
    content: ""
}

.fa-umbrella:before {
    content: ""
}

.fa-paste:before,
.fa-clipboard:before {
    content: ""
}

.fa-lightbulb-o:before {
    content: ""
}

.fa-exchange:before {
    content: ""
}

.fa-cloud-download:before {
    content: ""
}

.fa-cloud-upload:before {
    content: ""
}

.fa-user-md:before {
    content: ""
}

.fa-stethoscope:before {
    content: ""
}

.fa-suitcase:before {
    content: ""
}

.fa-bell-o:before {
    content: ""
}

.fa-coffee:before {
    content: ""
}

.fa-cutlery:before {
    content: ""
}

.fa-file-text-o:before {
    content: ""
}

.fa-building-o:before {
    content: ""
}

.fa-hospital-o:before {
    content: ""
}

.fa-ambulance:before {
    content: ""
}

.fa-medkit:before {
    content: ""
}

.fa-fighter-jet:before {
    content: ""
}

.fa-beer:before {
    content: ""
}

.fa-h-square:before {
    content: ""
}

.fa-plus-square:before {
    content: ""
}

.fa-angle-double-left:before {
    content: ""
}

.fa-angle-double-right:before {
    content: ""
}

.fa-angle-double-up:before {
    content: ""
}

.fa-angle-double-down:before {
    content: ""
}

.fa-angle-left:before {
    content: ""
}

.fa-angle-right:before {
    content: ""
}

.fa-angle-up:before {
    content: ""
}

.fa-angle-down:before {
    content: ""
}

.fa-desktop:before {
    content: ""
}

.fa-laptop:before {
    content: ""
}

.fa-tablet:before {
    content: ""
}

.fa-mobile-phone:before,
.fa-mobile:before {
    content: ""
}

.fa-circle-o:before {
    content: ""
}

.fa-quote-left:before {
    content: ""
}

.fa-quote-right:before {
    content: ""
}

.fa-spinner:before {
    content: ""
}

.fa-circle:before {
    content: ""
}

.fa-mail-reply:before,
.fa-reply:before {
    content: ""
}

.fa-github-alt:before {
    content: ""
}

.fa-folder-o:before {
    content: ""
}

.fa-folder-open-o:before {
    content: ""
}

.fa-smile-o:before {
    content: ""
}

.fa-frown-o:before {
    content: ""
}

.fa-meh-o:before {
    content: ""
}

.fa-gamepad:before {
    content: ""
}

.fa-keyboard-o:before {
    content: ""
}

.fa-flag-o:before {
    content: ""
}

.fa-flag-checkered:before {
    content: ""
}

.fa-terminal:before {
    content: ""
}

.fa-code:before {
    content: ""
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
    content: ""
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
    content: ""
}

.fa-location-arrow:before {
    content: ""
}

.fa-crop:before {
    content: ""
}

.fa-code-fork:before {
    content: ""
}

.fa-unlink:before,
.fa-chain-broken:before {
    content: ""
}

.fa-question:before {
    content: ""
}

.fa-info:before {
    content: ""
}

.fa-exclamation:before {
    content: ""
}

.fa-superscript:before {
    content: ""
}

.fa-subscript:before {
    content: ""
}

.fa-eraser:before {
    content: ""
}

.fa-puzzle-piece:before {
    content: ""
}

.fa-microphone:before {
    content: ""
}

.fa-microphone-slash:before {
    content: ""
}

.fa-shield:before {
    content: ""
}

.fa-calendar-o:before {
    content: ""
}

.fa-fire-extinguisher:before {
    content: ""
}

.fa-rocket:before {
    content: ""
}

.fa-maxcdn:before {
    content: ""
}

.fa-chevron-circle-left:before {
    content: ""
}

.fa-chevron-circle-right:before {
    content: ""
}

.fa-chevron-circle-up:before {
    content: ""
}

.fa-chevron-circle-down:before {
    content: ""
}

.fa-html5:before {
    content: ""
}

.fa-css3:before {
    content: ""
}

.fa-anchor:before {
    content: ""
}

.fa-unlock-alt:before {
    content: ""
}

.fa-bullseye:before {
    content: ""
}

.fa-ellipsis-h:before {
    content: ""
}

.fa-ellipsis-v:before {
    content: ""
}

.fa-rss-square:before {
    content: ""
}

.fa-play-circle:before {
    content: ""
}

.fa-ticket:before {
    content: ""
}

.fa-minus-square:before {
    content: ""
}

.fa-minus-square-o:before {
    content: ""
}

.fa-level-up:before {
    content: ""
}

.fa-level-down:before {
    content: ""
}

.fa-check-square:before {
    content: ""
}

.fa-pencil-square:before {
    content: ""
}

.fa-external-link-square:before {
    content: ""
}

.fa-share-square:before {
    content: ""
}

.fa-compass:before {
    content: ""
}

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
    content: ""
}

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
    content: ""
}

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
    content: ""
}

.fa-euro:before,
.fa-eur:before {
    content: ""
}

.fa-gbp:before {
    content: ""
}

.fa-dollar:before,
.fa-usd:before {
    content: ""
}

.fa-rupee:before,
.fa-inr:before {
    content: ""
}

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
    content: ""
}

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
    content: ""
}

.fa-won:before,
.fa-krw:before {
    content: ""
}

.fa-bitcoin:before,
.fa-btc:before {
    content: ""
}

.fa-file:before {
    content: ""
}

.fa-file-text:before {
    content: ""
}

.fa-sort-alpha-asc:before {
    content: ""
}

.fa-sort-alpha-desc:before {
    content: ""
}

.fa-sort-amount-asc:before {
    content: ""
}

.fa-sort-amount-desc:before {
    content: ""
}

.fa-sort-numeric-asc:before {
    content: ""
}

.fa-sort-numeric-desc:before {
    content: ""
}

.fa-thumbs-up:before {
    content: ""
}

.fa-thumbs-down:before {
    content: ""
}

.fa-youtube-square:before {
    content: ""
}

.fa-youtube:before {
    content: ""
}

.fa-xing:before {
    content: ""
}

.fa-xing-square:before {
    content: ""
}

.fa-youtube-play:before {
    content: ""
}

.fa-dropbox:before {
    content: ""
}

.fa-stack-overflow:before {
    content: ""
}

.fa-instagram:before {
    content: ""
}

.fa-flickr:before {
    content: ""
}

.fa-adn:before {
    content: ""
}

.fa-bitbucket:before,
.icon-bitbucket:before {
    content: ""
}

.fa-bitbucket-square:before {
    content: ""
}

.fa-tumblr:before {
    content: ""
}

.fa-tumblr-square:before {
    content: ""
}

.fa-long-arrow-down:before {
    content: ""
}

.fa-long-arrow-up:before {
    content: ""
}

.fa-long-arrow-left:before {
    content: ""
}

.fa-long-arrow-right:before {
    content: ""
}

.fa-apple:before {
    content: ""
}

.fa-windows:before {
    content: ""
}

.fa-android:before {
    content: ""
}

.fa-linux:before {
    content: ""
}

.fa-dribbble:before {
    content: ""
}

.fa-skype:before {
    content: ""
}

.fa-foursquare:before {
    content: ""
}

.fa-trello:before {
    content: ""
}

.fa-female:before {
    content: ""
}

.fa-male:before {
    content: ""
}

.fa-gittip:before {
    content: ""
}

.fa-sun-o:before {
    content: ""
}

.fa-moon-o:before {
    content: ""
}

.fa-archive:before {
    content: ""
}

.fa-bug:before {
    content: ""
}

.fa-vk:before {
    content: ""
}

.fa-weibo:before {
    content: ""
}

.fa-renren:before {
    content: ""
}

.fa-pagelines:before {
    content: ""
}

.fa-stack-exchange:before {
    content: ""
}

.fa-arrow-circle-o-right:before {
    content: ""
}

.fa-arrow-circle-o-left:before {
    content: ""
}

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
    content: ""
}

.fa-dot-circle-o:before {
    content: ""
}

.fa-wheelchair:before {
    content: ""
}

.fa-vimeo-square:before {
    content: ""
}

.fa-turkish-lira:before,
.fa-try:before {
    content: ""
}

.fa-plus-square-o:before {
    content: ""
}

.fa-space-shuttle:before {
    content: ""
}

.fa-slack:before {
    content: ""
}

.fa-envelope-square:before {
    content: ""
}

.fa-wordpress:before {
    content: ""
}

.fa-openid:before {
    content: ""
}

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
    content: ""
}

.fa-mortar-board:before,
.fa-graduation-cap:before {
    content: ""
}

.fa-yahoo:before {
    content: ""
}

.fa-google:before {
    content: ""
}

.fa-reddit:before {
    content: ""
}

.fa-reddit-square:before {
    content: ""
}

.fa-stumbleupon-circle:before {
    content: ""
}

.fa-stumbleupon:before {
    content: ""
}

.fa-delicious:before {
    content: ""
}

.fa-digg:before {
    content: ""
}

.fa-pied-piper-square:before,
.fa-pied-piper:before {
    content: ""
}

.fa-pied-piper-alt:before {
    content: ""
}

.fa-drupal:before {
    content: ""
}

.fa-joomla:before {
    content: ""
}

.fa-language:before {
    content: ""
}

.fa-fax:before {
    content: ""
}

.fa-building:before {
    content: ""
}

.fa-child:before {
    content: ""
}

.fa-paw:before {
    content: ""
}

.fa-spoon:before {
    content: ""
}

.fa-cube:before {
    content: ""
}

.fa-cubes:before {
    content: ""
}

.fa-behance:before {
    content: ""
}

.fa-behance-square:before {
    content: ""
}

.fa-steam:before {
    content: ""
}

.fa-steam-square:before {
    content: ""
}

.fa-recycle:before {
    content: ""
}

.fa-automobile:before,
.fa-car:before {
    content: ""
}

.fa-cab:before,
.fa-taxi:before {
    content: ""
}

.fa-tree:before {
    content: ""
}

.fa-spotify:before {
    content: ""
}

.fa-deviantart:before {
    content: ""
}

.fa-soundcloud:before {
    content: ""
}

.fa-database:before {
    content: ""
}

.fa-file-pdf-o:before {
    content: ""
}

.fa-file-word-o:before {
    content: ""
}

.fa-file-excel-o:before {
    content: ""
}

.fa-file-powerpoint-o:before {
    content: ""
}

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
    content: ""
}

.fa-file-zip-o:before,
.fa-file-archive-o:before {
    content: ""
}

.fa-file-sound-o:before,
.fa-file-audio-o:before {
    content: ""
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
    content: ""
}

.fa-file-code-o:before {
    content: ""
}

.fa-vine:before {
    content: ""
}

.fa-codepen:before {
    content: ""
}

.fa-jsfiddle:before {
    content: ""
}

.fa-life-bouy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
    content: ""
}

.fa-circle-o-notch:before {
    content: ""
}

.fa-ra:before,
.fa-rebel:before {
    content: ""
}

.fa-ge:before,
.fa-empire:before {
    content: ""
}

.fa-git-square:before {
    content: ""
}

.fa-git:before {
    content: ""
}

.fa-hacker-news:before {
    content: ""
}

.fa-tencent-weibo:before {
    content: ""
}

.fa-qq:before {
    content: ""
}

.fa-wechat:before,
.fa-weixin:before {
    content: ""
}

.fa-send:before,
.fa-paper-plane:before {
    content: ""
}

.fa-send-o:before,
.fa-paper-plane-o:before {
    content: ""
}

.fa-history:before {
    content: ""
}

.fa-circle-thin:before {
    content: ""
}

.fa-header:before {
    content: ""
}

.fa-paragraph:before {
    content: ""
}

.fa-sliders:before {
    content: ""
}

.fa-share-alt:before {
    content: ""
}

.fa-share-alt-square:before {
    content: ""
}

.fa-bomb:before {
    content: ""
}

