<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Docs App</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
<!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"> -->
	<script	th:src="@{/js/jquery-2.2.0.min.js}"></script>
	<script	th:src="@{/js/bootstrap.min.js}"></script>
  	<link rel="shortcut icon" th:href="@{/img/favicon.png}">
  	
</head>

<body>	
	<div class="login-page">
	  <div class="form">
	  	<h2 class="form-signin-heading" th:text="${appName}">Docs App</h2>
	  	<div align="center" th:if="${param.error}">
			<p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
		</div>
	    <!-- <form class="register-form">
	      <input type="text" placeholder="name"/>
	      <input type="password" placeholder="password"/>
	      <input type="text" placeholder="email address"/>
	      <button>create</button>
	      <p class="message">Already registered? <a href="#">Sign In</a></p>
	    </form> -->
	    <form class="login-form" th:action="@{/login}" method="POST">
	      <input type="text" id="email" name="email"  th:placeholder="Email" />
	      <input type="password"  th:placeholder="Password" id="password" name="password" />
	      <button type="Submit">login</button>
	      <!-- <p class="message">Not registered? <a href="#">Create an account</a></p> -->
	    </form>
	  </div>
	</div>
</body>
</html>
